#reader {
  word-break: break-word;
  /* word-spacing: initial; */
  white-space: break-spaces;
  letter-spacing: -2px;
  text-align: justify;
  line-height: 1em;

  font-family: fangsong;
  font-size: 27px;
  color: #faffef;
}

html {
  scroll-behavior: smooth;
  background: cornflowerblue;
}
::selection {
  color: red;
  background: deepskyblue;
}

/* block */
div {
  margin: 1em 0;
  text-indent: 2em;
}
/* block段落 */
div:empty {
  height: 5em;
}

/* spking */
span[data-spking] {
  background: #3da3eb;
  /* padding: 0.2em; */
}

/* select */
span[class][class] {
  color: black;
}
span[point-type='first'] {
  border-left: solid;
  border-radius: 7px;
}
span[point-type='last'] {
  border-right: solid;
  border-radius: 7px;
}
span[point-type='justOne'] {
  text-decoration: line-through dashed from-font;
}

span.activeSelect {
  background: #ffb9ff;
}
