#reader {
  /* word-break: normal; */
  /* word-spacing: initial; */
  white-space: break-spaces;
  text-align: justify;
  letter-spacing: -2px;
  line-height: 1.3em;
  font-family: fangsong;
  font-size: 27px;
  color: khaki;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: cornflowerblue;
}
::selection {
  color: red;
  background: deepskyblue;
}

span[data-spking] {
  background: #3da3eb;
}

span[class] {
  color: black;
}
span[type='first'] {
  border-left: solid;
  border-radius: 7px;
}
span[type='last'] {
  border-right: solid;
  border-radius: 7px;
}
span[type='justOne'] {
  text-decoration: line-through dashed from-font;
}
